.nav-bar {
    width: calc(100% - 10px);
    height: 40px;

    padding: 5px;

    border-bottom: solid 1px var(--border-color-primary);

    display: flex;

    gap: 10px;
}

.nav-spacer {
    height: 40px;

    flex: 1;
}
